@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1b0c4d;
  overflow: hidden;
  overflow-y: hidden;
}

.background > span {
  width: 8vmin;
  height: 8vmin;
  border-radius: 8vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 20;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1000;
}

.background > span:nth-child(0) {
  color: #e45a84;
  top: 79%;
  left: 77%;
  animation-duration: 249s;
  animation-delay: -275s;
  transform-origin: -11vw 5vh;
  box-shadow: 16vmin 0 2.651452832982032vmin currentColor;
}
.background > span:nth-child(1) {
  color: #ffacac;
  top: 1%;
  left: 28%;
  animation-duration: 40s;
  animation-delay: -242s;
  transform-origin: 9vw 25vh;
  box-shadow: -16vmin 0 2.2932578455505546vmin currentColor;
}
.background > span:nth-child(2) {
  color: #583c87;
  top: 3%;
  left: 25%;
  animation-duration: 48s;
  animation-delay: -2s;
  transform-origin: -12vw -2vh;
  box-shadow: 16vmin 0 2.8213462369510167vmin currentColor;
}
.background > span:nth-child(3) {
  color: #ffacac;
  top: 77%;
  left: 25%;
  animation-duration: 32s;
  animation-delay: -117s;
  transform-origin: 16vw 19vh;
  box-shadow: -16vmin 0 2.101406102090254vmin currentColor;
}
.background > span:nth-child(4) {
  color: #583c87;
  top: 44%;
  left: 89%;
  animation-duration: 28s;
  animation-delay: -291s;
  transform-origin: 12vw -15vh;
  box-shadow: -16vmin 0 2.7873746586861685vmin currentColor;
}
.background > span:nth-child(5) {
  color: #e45a84;
  top: 58%;
  left: 90%;
  animation-duration: 15s;
  animation-delay: -74s;
  transform-origin: -17vw -8vh;
  box-shadow: 16vmin 0 2.229574477167521vmin currentColor;
}
.background > span:nth-child(6) {
  color: #583c87;
  top: 17%;
  left: 84%;
  animation-duration: 239s;
  animation-delay: -9s;
  transform-origin: -14vw -6vh;
  box-shadow: -16vmin 0 2.2250223544383516vmin currentColor;
}
.background > span:nth-child(7) {
  color: #ffacac;
  top: 1%;
  left: 85%;
  animation-duration: 35s;
  animation-delay: -56s;
  transform-origin: -19vw 15vh;
  box-shadow: -16vmin 0 2.4869026750760024vmin currentColor;
}
.background > span:nth-child(8) {
  color: #583c87;
  top: 52%;
  left: 55%;
  animation-duration: 142s;
  animation-delay: -248s;
  transform-origin: 15vw 19vh;
  box-shadow: -16vmin 0 2.9247431724535917vmin currentColor;
}
.background > span:nth-child(9) {
  color: #e45a84;
  top: 61%;
  left: 55%;
  animation-duration: 267s;
  animation-delay: -207s;
  transform-origin: -7vw -16vh;
  box-shadow: -16vmin 0 2.111163786121093vmin currentColor;
}
.background > span:nth-child(10) {
  color: #e45a84;
  top: 10%;
  left: 84%;
  animation-duration: 297s;
  animation-delay: -148s;
  transform-origin: 3vw -10vh;
  box-shadow: 16vmin 0 2.0724674255413067vmin currentColor;
}
.background > span:nth-child(11) {
  color: #583c87;
  top: 48%;
  left: 76%;
  animation-duration: 190s;
  animation-delay: -101s;
  transform-origin: -16vw -18vh;
  box-shadow: 16vmin 0 2.8233520806948693vmin currentColor;
}
