  .animate-pulse-slow {
    animation: pulse-slow 1.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse-slow {
    0%, 100% {
      opacity: 0.4;
      transform: scale(1);
    }
    50% {
      opacity: 0.15;
      transform: scale(1.7);
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import "tailwindcss";

@layer utilities {
  .animate-my-scale {
    animation: my-scale-animation 0.5s ease-in-out;
  }

  @keyframes my-scale-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}
